<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    {{- partial "head" . -}}
  </head>
  <body>
      <!-- header -->
      {{- partial "header" . -}}
      <!-- end of header-->

      <!-- main -->
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <!-- end of main -->

      <!-- footer -->
      {{- partial "footer" . -}}
      <!-- end of footer -->

      <!-- scripts -->
      {{- partial "scripts" -}}
      <!-- end of scripts -->

  </body>
</html>